<!DOCTYPE html>
<html lang="en" ng-app ="todo">

  <head>
	  
    
    <script src="/Contenido/angular-route.min.js"></script>
    <script src="/Contenido/angular.js"></script>
    <script src="/Contenido/todo.js"></script>	

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Información a estudiar, uso interno</title>

  <!-- Bootstrap Core CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Icono -->
  <link rel="shortcut icon" href="img/favicon.jpg" />
  
  
</head>



<body ng-controller="controlador as lista" ng-controller="controlador">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Base de datos de notas y artículos </a>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
        <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
  </nav>
  <main role="main">
  <script type="text/javascript">
    alert("Este sitio es para uso interno de: Mario, Florencia, Nicolas, Walter");
  </script>
  <br>
  <h1>Fuentes de informacíon</h1>

  <div class="container mt-3" style="text-align:center; vertical-align:middle;align-items:center;" >

  <div class="form-inline" action="#table" style="margin-left:auto;margin-right:auto;width:100%">
  <h4 style="margin-left:auto;margin-right:auto;width:92%"> <input class="form-control" action="#table" id="myInput" type="text" placeholder="Ingrese palabras clave" style="margin-left:auto;margin-right:auto;width:80%"> <a href="#table"  type="submit" style="text-align:left">Buscar</a></h4>
  <br>
  </div>
  
	
    
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>


  <br>





  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#mytab div").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

  <!-- <div id="graphcomment"></div> -->
  <script type="text/javascript">

    /* - - - CONFIGURATION VARIABLES - - - */

    // make sure the id is yours
    window.gc_params = {
      graphcomment_id: 'necologica',

      // if your website has a fixed header, indicate it's height in pixels
      fixed_header_height: 0,
    };

    /* - - - DON'T EDIT BELOW THIS LINE - - - */

  
  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();

  </script>
    </div></div>
    <div class="row text-center d-block mx-auto">
      <div class="col-sm-12 col-md-6 d-block mx-auto">
    
    
          <div class="input-group mb-3 mx-auto">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Fecha desde</label>
            </div>
            <div class="row">
              <div class="col-6">
                      <select class="custom-select" name="aniox" ng-model="aniox" ng-change="accionx()">
                          <option selected value="0">año</option>
                          <option value="190000">2019</option>
                          <option value="200000">2020</option>
                          <option value="210000">2021</option>
                        </select>   
              </div>
    
              <div class="col-6">
                <select class="custom-select" ng-model="mesx" ng-change="accionx()">
                  <option selected value="0">mes</option>
                  <option value="100">enero</option>
                  <option value="200">febrero</option>
                  <option value="300">marzo</option>
                  <option value="400">abril</option>
                  <option value="500">mayo</option>
                  <option value="600">junio</option>
                  <option value="700">julio</option>
                  <option value="800">agosto</option>
                  <option value="900">septiembre</option>
                  <option value="1000">octubre</option>
                  <option value="1100">noviembre</option>
                  <option value="1200">diciembre</option>
                </select>  
              </div>
            </div>
    
          </div>
        
        </div>
          
        <div class="col-sm-12 col-md-6 d-block mx-auto">
        
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Fecha hasta</label>
            </div>
            <div class="row">
              <div class="col-6">
                      <select class="custom-select" ng-model="anioy" ng-change="acciony()">
                          <option selected value="0">año</option>
                          <option value="190000">2019</option>
                          <option value="200000">2020</option>
                          <option value="210000">2021</option>
                        </select>   
              </div>
    
              <div class="col-6">
                <select class="custom-select" ng-model="mesy" ng-change="acciony()">
                  <option selected value="0">mes</option>
                  <option value="100">enero</option>
                  <option value="200">febrero</option>
                  <option value="300">marzo</option>
                  <option value="400">abril</option>
                  <option value="500">mayo</option>
                  <option value="600">junio</option>
                  <option value="700">julio</option>
                  <option value="800">agosto</option>
                  <option value="900">septiembre</option>
                  <option value="1000">octubre</option>
                  <option value="1100">noviembre</option>
                  <option value="1200">diciembre</option>
                </select>  
              </div>
            </div>
    
          </div>
        </div>
        </div>

  <div class="album py-5 bg-light" id="mytab" style="background-color: #eee!important;">
    <div class="container">

     
    
    <!-- Menú Categorias -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#todo">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#local">Local</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#inter">Internacional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#autoridades">Autoridades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#comex">Comercio Exterior</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#logistica">Logística</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#paro">Paros e Inactividad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#canal">Canal Magdalena</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#anuario">Anuario</a>
      </li>
    </ul>
  <hr>

<!-- Categorias -->
       <!-- Todo -->
      <div class="tab-content border mb-3" >
        <div id="todo" class="container tab-pane active"><br>
                <div class="row">
                  <td>
                      <div class="col-md-4" ng-repeat="nota in lista.todas | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                        <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                          <img width="100%" height="225" src="{{nota.img}}" >
                          <div class="card-body">
                            <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </figure>      
                                <a href="{{nota.href}}" >Ver Más</a>
                                <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                                  <cite title="Source Title">{{nota.fecha}}</cite>
                                </figcaption>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>

            </div>
        </div>

       <!-- Local -->
        <div id="local" class="container tab-pane fade"><br>
          <div class="row">
            <td>
                <div class="col-md-4" ng-repeat="nota in lista.local | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                  <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                    <img width="100%" height="225" src="{{nota.img}}" >
                    <div class="card-body">
                      <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </figure>      
                          <a href="{{nota.href}}" >Ver Más</a>
                          <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                            <cite title="Source Title">{{nota.fecha}}</cite>
                          </figcaption>
                      
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </div>
        </div>

        <!-- Internacional -->
         <div id="inter" class="container tab-pane fade"><br>
           <div class="row">
             <td>
                 <div class="col-md-4" ng-repeat="nota in lista.inter | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                   <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                     <img width="100%" height="225" src="{{nota.img}}" >
                     <div class="card-body">
                       <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                       <div class="d-flex justify-content-between align-items-center">
                       </figure>      
                           <a href="{{nota.href}}" >Ver Más</a>
                           <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                             <cite title="Source Title">{{nota.fecha}}</cite>
                           </figcaption>
                       
                       </div>
                     </div>
                   </div>
                 </div>
             </td>
           </div>
         </div>

         <!-- autoridades -->
          <div id="autoridades" class="container tab-pane fade"><br>
            <div class="row">
              <td>
                  <div class="col-md-4" ng-repeat="nota in lista.autoridades | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                    <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                      <img width="100%" height="225" src="{{nota.img}}" >
                      <div class="card-body">
                        <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </figure>      
                            <a href="{{nota.href}}" >Ver Más</a>
                            <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                              <cite title="Source Title">{{nota.fecha}}</cite>
                            </figcaption>
                        
                        </div>
                      </div>
                    </div>
                  </div>
              </td>
            </div>
          </div>

          <!-- canalMagdalena -->
           <div id="canal" class="container tab-pane fade"><br>
             <div class="row">
               <td>
                   <div class="col-md-4" ng-repeat="nota in lista.canalMagdalena | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                     <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                       <img width="100%" height="225" src="{{nota.img}}" >
                       <div class="card-body">
                         <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                         <div class="d-flex justify-content-between align-items-center">
                         </figure>      
                             <a href="{{nota.href}}" >Ver Más</a>
                             <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                               <cite title="Source Title">{{nota.fecha}}</cite>
                             </figcaption>
                         
                         </div>
                       </div>
                     </div>
                   </div>
               </td>
             </div>
           </div>

           <!-- Comercio Exterior -->
            <div id="comex" class="container tab-pane fade"><br>
              <div class="row">
                <td>
                    <div class="col-md-4" ng-repeat="nota in lista.comex | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                      <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                        <img width="100%" height="225" src="{{nota.img}}" >
                        <div class="card-body">
                          <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </figure>      
                              <a href="{{nota.href}}" >Ver Más</a>
                              <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                                <cite title="Source Title">{{nota.fecha}}</cite>
                              </figcaption>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
              </div>
            </div>

            <!-- logistica  -->
             <div id="logistica" class="container tab-pane fade"><br>
               <div class="row">
                 <td>
                     <div class="col-md-4" ng-repeat="nota in lista.logistica | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                       <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                         <img width="100%" height="225" src="{{nota.img}}" >
                         <div class="card-body">
                           <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                           <div class="d-flex justify-content-between align-items-center">
                           </figure>      
                               <a href="{{nota.href}}" >Ver Más</a>
                               <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                                 <cite title="Source Title">{{nota.fecha}}</cite>
                               </figcaption>
                           
                           </div>
                         </div>
                       </div>
                     </div>
                 </td>
               </div>
             </div>

            <!-- paro -->
             <div id="paro" class="container tab-pane fade"><br>
               <div class="row">
                 <td>
                     <div class="col-md-4" ng-repeat="nota in lista.paro | orderBy: '-(fnum)'" ng-if="(nota.fnum>totalx)&&(nota.fnum<totaly)">
                       <div class="card mb-4 shadow-sm" style="margin-bottom:2.5rem!important;border-radius:5px;">
                         <img width="100%" height="225" src="{{nota.img}}" >
                         <div class="card-body">
                           <p class="card-text" ><b>{{nota.titulo}}</b></p> <p class="card-text">{{nota.texto}}</p>
                           <div class="d-flex justify-content-between align-items-center">
                           </figure>      
                               <a href="{{nota.href}}" >Ver Más</a>
                               <figcaption class="blockquote-footer my-2 ml-2 text-muted text-right">
                                 <cite title="Source Title">{{nota.fecha}}</cite>
                               </figcaption>
                           
                           </div>
                         </div>
                       </div>
                     </div>
                 </td>
               </div>
             </div>

       


        <div id="anuario" class="container tab-pane fade"><br>
            <div style="text-align:center;width: 100%;"><div style="margin:8px 0px 4px;width: 100%;"><a href="https://www.calameo.com/books/006200032845e908ec61e" target="_blank">Anuario Nacional 2020</a></div><iframe src="//v.calameo.com/?bkcode=006200032845e908ec61e" width="100%"  frameborder="0" scrolling="no" allowtransparency allowfullscreen style="margin:0 auto;"></iframe><div style="margin:4px 0px 8px;width: 100%;"><a href="http://www.calameo.com/">Publish at Calameo</a></div></div>
        </div>

      </div>
      <p class="act"><b>Categoría Actual</b>: <span></span></p>
      <p class="prev"><b>Categoría Anterior</b>: <span></span></p>
    </div>

  </div>

    
    <script>
    $(document).ready(function(){
      $(".nav-tabs a").click(function(){
        $(this).tab('show');
      });
      $('.nav-tabs a').on('shown.bs.tab', function(event){
        var x = $(event.target).text();         // active tab
        var y = $(event.relatedTarget).text();  // previous tab
        $(".act span").text(x);
        $(".prev span").text(y);
      });
    });
    </script>
  </main>





    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>
    

    <!-- script de navegacion por categorias -->
    <script>
      $(document).ready(function(){
        $(".nav-tabs a").click(function(){
          $(this).tab('show');
        });
        $('.nav-tabs a').on('shown.bs.tab', function(event){
          var x = $(event.target).text();         // active tab
          var y = $(event.relatedTarget).text();  // previous tab
          $(".act span").text(x);
          $(".prev span").text(y);
        });
      });
      </script>

</body>

</html>
